@font-face {
    font-family: "TafelwerkOT";
    src: url('../../../public/fonts/TafelwerkOT.ttf') format('truetype');
}

body {
    font-family: sans-serif;
}

.hero {
    padding: 30px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #61dafb;
    background-color: #61dafb10;
    color: #61dafb;
    width: 90%;
}

h1 {
    font-size: 9rem;
    font-family: 'TafelwerkOT', sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: lighter;
}

h3 {
    font-size: 2.5rem;
}

.features,
.how-to-use {
    border: 2px solid white;
    color: white;
    border-top: 0px;
    border-bottom: 0px;
    padding: 30px;
    background-color: #0f0f0f;
    width: 90%;
}

.equations {
    border-radius: 0px 0px 10px 10px;
    border: 2px solid #61dafb;
    color: #61dafb;
    padding: 30px;
    background-color: #61dafb10;
    width: 90%;
}

.features li,
.how-to-use li {
    margin-bottom: 15px;
}

.app-link {
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
}

.app-link:hover {
    text-decoration: underline;
}
.subtitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0px;
}